<h1>TASK4</h1

In [9]:
s1="sahil singh rajput"
print(s1.split(" "))
s2="          hello python  "
print(s2.strip())
s3="Welcome to java"
print(s3.replace("java","python"))
s4="wELcome"
print(s4.title())
print(s4.center(30))

['sahil', 'singh', 'rajput']
hello python
Welcome to python
Welcome
           wELcome

In [23]:
mylist=["hello","my","name","is","sahil","singh"]
mylist.append("rajput")
print(mylist)
print(mylist.pop())
mylist.remove("name")
print(mylist)

['hello', 'my', 'name', 'is', 'sahil', 'singh', 'rajput']
rajput
['hello', 'my', 'is', 'sahil', 'singh']

In [22]:
list1=[3,1,5,7,6,10]
list1.sort()
print(list1)

[1, 3, 5, 6, 7, 10]

In [24]:
colors = ['Red', 'Green', 'Blue', 'Yellow']
countries = ['USA', 'Canada', 'Germany', 'Australia']
fruits = ['Apple', 'Banana', 'Orange', 'Mango']
numbers = [1, 2, 3, 4, 5]
language = ['Java', 'C', 'C++', 'Ruby']
print(colors)
print(countries)
print(fruits)
print(numbers)
print(language)

['Red', 'Green', 'Blue', 'Yellow']
['USA', 'Canada', 'Germany', 'Australia']
['Apple', 'Banana', 'Orange', 'Mango']
[1, 2, 3, 4, 5]
['Java', 'C', 'C++', 'Ruby']

immutable data type are those which we cannot change its value like append,delete,insert at some position example is string class
mutable data type are those which value we can change example list class

identifiers are names used to identify variable function class module or other object in python
some basic rule are:
1.Valid character
2.Case sensitivity
3.Reserved word
4.length

<h1>Task 5</h1>

shallow copy store the refernce of other object if we make change in that object previous object is also changed
deep copy store copies of the object value if we change in any object it doesnot affect other object

In [26]:
books = [
    {'title': 'Python Crash Course', 'author': 'Eric Matthes', 'ISBN': '978-1593276034'},
    {'title': 'The Alchemist', 'author': 'Paulo Coelho', 'ISBN': '978-0062315007'},
    {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'ISBN': '978-0446310789'},
   
]
students = [
    {'name': 'John Smith', 'student_id': '123456'},
    {'name': 'Emily Johnson', 'student_id': '789012'},
    {'name': 'Michael Davis', 'student_id': '345678'},
    
]
transactions = [
    {'book': 'Python Crash Course', 'student': 'John Smith', 'date': '2023-06-01'},
    {'book': 'To Kill a Mockingbird', 'student': 'Emily Johnson', 'date': '2023-06-03'},
    {'book': 'The Alchemist', 'student': 'Michael Davis', 'date': '2023-06-05'},
    
]
print(books)
print(students)
print(transactions)

[{'title': 'Python Crash Course', 'author': 'Eric Matthes', 'ISBN': '978-1593276034'}, {'title': 'The Alchemist', 'author': 'Paulo Coelho', 'ISBN': '978-0062315007'}, {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'ISBN': '978-0446310789'}]
[{'name': 'John Smith', 'student_id': '123456'}, {'name': 'Emily Johnson', 'student_id': '789012'}, {'name': 'Michael Davis', 'student_id': '345678'}]
[{'book': 'Python Crash Course', 'student': 'John Smith', 'date': '2023-06-01'}, {'book': 'To Kill a Mockingbird', 'student': 'Emily Johnson', 'date': '2023-06-03'}, {'book': 'The Alchemist', 'student': 'Michael Davis', 'date': '2023-06-05'}]

Automic data type:they are of four type
    1.boolean
    2.integers
    3.char
    4.floats

Secondary data type are those data type which can be divided into sub-data typein other word these data type are created by the combination pf primitive data type

<h1>Task 6</h1>

<h4>What is duck typing in python, what are Dunder or special methods?
</h4>
Python is a Duck typing language which means that the data type of any variable is less important than its methods and attributes. It basically suggests that the data type of the variable can change according to its behaviour as long as the code is sustainable.

Dunder Methods or Magic Methods are methods which allow instances of a data-type or class to interact with the built-in functions and operators of the language. Since these functions are not involked directly by the programmer, these functions are also referred to as 'Magic Methods'.

<h4>What are operators? How many types of operators are there in python?</h4>

Operators are symbols or special keywords which are used to perform certain tasks to produce a result. A few types of operators are as follows:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

In [ ]:
{
  "brand": "Toyota",
  "model": "Camry",
  "year": 2019,
  "color": "Silver",
  "mileage": 45000
}
{
  "title": "To Kill a Mockingbird",
  "author": "Harper Lee",
  "genre": "Fiction",
  "publication_year": 1960,
  "isbn": "9780061120084"
}
{
  "brand": "Samsung",
  "model": "Galaxy S21",
  "year": 2021,
  "color": "Phantom Black",
  "storage_capacity": "128GB"
}
{
  "name": "Cafe Italia",
  "cuisine": "Italian",
  "location": "123 Main Street",
  "city": "New York",
  "rating": 4.5
}
{
  "title": "The Shawshank Redemption",
  "director": "Frank Darabont",
  "genre": "Drama",
  "release_year": 1994,
  "rating": 9.3
}

<h1 style:center>Task8</h1>
Two value of boolean data type is: true or false
print(10 > 9)
print(10 == 9)
<h4>2</h4>
1.AND
2.OR
3.NOT
<h4>4</h4>
false
false
true
false
false
true
<h4>5</h4>
1.>
2.<
3.=
4.>=
5.<=
6.==
7.!=
<h4>6</h4>
Assignment operator is used to assign a value and equal to used to compare the value
<h4>7</h4>
allow you to make decisions based on the values of variables or the result of comparisons

<h1>TASK9</h1>

In [30]:
x=int(input("enter a number"))
if x==0:
    print("no is zero")
elif x<0:
    print("no is negative")
else:
    print("no is positive")

enter a number20
no is positive

In [31]:
x=int(input("enter a number"))
if x%5==0 and x%11==0:
    print("no is divisible by 5 and 11")
else:
    print("no is not divisible by 5 and 11")

enter a number55
no is divisible by 5 and 11

In [34]:
x=int(input("enter a year"))
if (x % 400 == 0) and (x % 100 == 0):
    print(f"{x} is a leap year")
elif (x % 400 == 0) and (x % 100 == 0):
    print(f"{x} is a leap year")
else:
    print(f"{x} is a not a leap year")

enter a year2000
2000 is a leap year

In [36]:
print("Enter a Character: ")
c = input()
if c>='a' and c<='z':
    print("\nIt is an alphabet")
elif c>='A' and c<='z':
    print("\nIt is an alphabet")
else:
    print("\nIt is not an alphabet!")

Enter a Character:
2

It is not an alphabet!

In [39]:
ch=input("enter a character")
if ch in ('a','A','e','E','i','I','o','O','u','U'):
    print("character is an vowel")
else:
    print("character is an constraint")

enter a characterw
character is an constraint

In [41]:
ch=input("Enter a character")
if ch.islower():
    print("character is in lowercase")
else:
    print("character is in uppercase")

Enter a characterU
character is in uppercase

In [43]:
x = int(input("Enter a day: "))

if x == 1:
    print("Monday")
elif x == 2:
    print("Tuesday")
elif x == 3:
    print("Wednesday")
elif x == 4:
    print("Thursday")
elif x == 5:
    print("Friday")
elif x == 6:
    print("Saturday")
elif x == 7:
    print("Sunday")
else:
    print("Invalid input")

Enter a day: 2
Tuesday

In [46]:
angle1=int(input("enter an angle 1:"))
angle2=int(input("enter an angle 2:"))
angle3=int(input("enter an angle 3:"))
if angle1+angle2+angle3==180:
    print("Triangle is valid")
else:
    print("not valid triangle")

enter an angle 1:60
enter an angle 2:60
enter an angle 3:60
Triangle is valid

In [47]:
side1=int(input("enter side1:"))
side2=int(input("enter side2:"))
side3=int(input("enter side3:"))
if side1+side2>side3 and side2+side3>side1 and side3+side1>side2:
    print("triangle is an valid")
else:
    print("triangle is not a valid ")

enter side1:

ValueError: invalid literal for int() with base 10: ''

In [48]:
side1=int(input("enter side1:"))
side2=int(input("enter side2:"))
side3=int(input("enter side3:"))
if side1==side2==side3:
    print("equilateral traingle")
elif side1==side2 or side2==side3 or side3==side1:
    print("isosceles triangle")
else:
    print("Scalene triangle")

enter side1:40
enter side2:40
enter side3:50
isosceles triangle

In [49]:
m1=int(input("enter physics marks:"))
m2=int(input("enter chemistry marks"))
m3=int(input("enter biology marks:"))
m4=int(input("enter maths marks:"))
m5=int(input("enter computer marks:"))
sum=m1+m2+m3+m4+m5
percentage=sum/5
if percentage>=90:
    print("Grade A")
elif percentage>=80:
    print("Grade B")
elif percentage>=70:
    print("Grade C")
elif percentage>=60:
    print("Grade D")
elif percentage>=50:
    printf("Grade E")
else:
    printf("fail")

enter physics marks:90
enter chemistry marks92
enter biology marks:94
enter maths marks:98
enter computer marks:97
Grade A

In [1]:
salary=float(input("enter salary:"))
if salary<=10000:
    hra=0.2*salary
    da=0.8*salary
elif salary<=20000:
    hra=0.25*salary
    da=0.9*salary
else:
    hra=0.3*salary
    da=0.95*salary
final_salary=salary+hra+da
print("Salary is:",final_salary)

enter salary:15000
Salary is: 32250.0

In [2]:
def calculate_electricity_bill(units):
    total_bill = 0

    
    if units <= 50:
        total_bill = units * 0.50
    else:
        total_bill += 50 * 0.50
        units -= 50

        
        if units <= 100:
            total_bill += units * 0.75
        else:
            total_bill += 100 * 0.75
            units -= 100

            
            if units <= 100:
                total_bill += units * 1.20
            else:
                total_bill += 100 * 1.20
                units -= 100

                
                total_bill += units * 1.50

    
    total_bill += total_bill * 0.20

    return total_bill

units = float(input("Enter the number of electricity units consumed: "))
bill = calculate_electricity_bill(units)
print(f"Total electricity bill: Rs. {bill:.2f}")

Enter the number of electricity units consumed: 30
Total electricity bill: Rs. 18.00

<h1>TASK 10</h1>

In [6]:
num=int(input("enter a number:"))
temp=num
rev=0
while temp>0:
    rem=temp%10
    rev=rev*10+rem
    temp=temp//10
if num==rev:
    print("number is an Palindrome no")
else:
    print("number is not an Palindrome ")

enter a number:1221
number is an Palindrome no

In [13]:
no=3
i=1
while no<=5:
    while i<=10:
        print(f"{no}*{i}={no*i}")
        i=i+1
    no=no+2

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [ ]:
no=int(input("enter an no which we want to find fact:"))
prd=1
i=1
while i<=no:
    prd=prd*i
    i=i+1
print("Factorial of a no is:",prd)

In [1]:
no=int(input("enter an no which we want to find fact:"))
prd=1
i=1
while i<=no:
    prd=prd*i
    i=i+1
print("Factorial of a no is:",prd)

enter an no which we want to find fact:5
Factorial of a no is: 120

In [4]:
no=int(input("enter the range we want to find factorial"))
n1=0
n2=1
print(n1,n2)
i=2
while i<no:
    n3=n1+n2
    print(n3)
    n1=n2
    n2=n3
    i=i+1

enter the range we want to find factorial8
0 1
1
2
3
5
8
13

In [1]:
num=int(input("enter the no which we want to check:"))
temp=num
sum=0
while temp>0:
    rem=temp%10
    sum=sum+rem**3
    temp=temp//10
if num==sum:
    print("Armstrong no")
else:    
    print("not an armstrong")

enter the no which we want to check:371
Armstrong no

<h1>TASK 11</h1>

In [6]:
for x in range(0,6,1):
    for y in range(1,x+1):
        print("*", end=" ") 
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [7]:
for x in range(0,6,1):
    for y in range(1,x+1):
        print(x, end=" ") 
    print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
for x in range(0,6,1):
    for y in range(1,x+1):
        print(y, end=" ") 
    print("\r")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
z=2
for x in range(0,6,1):
    for y in range(1,x+1):
        print(z, end=" ")
        z=z+1
    print("\r")

2
3 4
5 6 7
8 9 10 11
12 13 14 15 16

In [11]:
z=1
for x in range(0,6,1):
    for y in range(1,x+1):
        print(z, end=" ")
        z=z+1
    print("\r")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [20]:
for x in range(0,6,1):
    for y in range(x+1):
        if x%2==0 and y%2==0 or x%2==1 and y%2==1:
            print("1",end=" ")
        else:
            print("0",end=" ")
    print("\r")

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1

In [21]:

for x in range(1,6,1):
    z=5
    for y in range(1,x+1):
        print(z, end=" ")
        z=z-1
    print("\r")

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [23]:
for x in range(1,6,1):
    z=6-x
    for y in range(1,x+1):
        print(z, end=" ")
        
    print("\r")

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [27]:
for x in range(6,0,-1):
    for y in range(1,x+1):
        print("*", end=" ") 
    print("\r")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [34]:
for x in range(5,2,-1):
    z=5-x+1
    for y in range(x):
        print(z, end=" ") 
    print("\r") 
for x in range(2,0,-1):
    for y in range(x):
        print(x, end=" ") 
    print("\r")

1 1 1 1 1
2 2 2 2
3 3 3
2 2
1

In [36]:
for x in range(5,0,-1):
    z=1
    for y in range(1,x+1):
        print(z, end=" ")
        z=z+1
    print("\r")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [39]:
i=0
for x in range(5,0,-1):
    for y in range(1,x+1):
        print(x, end=" ") 
    i=i+1    
    print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [40]:
for x in range(5,0,-1):
    z=5
    for y in range(1,x+1):
        print(z, end=" ")
        z=z-1
    print("\r")

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [47]:
i=1
while i<=11:
    s="*"*i
    print(s.center(21))
    i=i+2

          *
         ***
        *****
       *******
      *********
     ***********

In [50]:
i=1
z=1
while i<=10:
    s=str(z)*i
    print(s.center(21))
    i=i+2
    z=z+1

          1
         222
        33333
       4444444
      555555555

In [1]:


for x in range(5):
    for y in range (0, 5-1-x):
        print(" ", end="")
    for y in range (1, (2*x+1)+1):
        print(f"{y}", end="")
    print("")

    1
   123
  12345
 1234567
123456789

In [2]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765

In [3]:
n=6
for i in range(n-1, 0, -1):
    for j in range (0, n-(i+1)):
        print(" ", end="")
    for j in range (0, (2*i)-1):
        print("*", end="")
    print("")

*********
 *******
  *****
   ***
    *

In [4]:
for i in range(5,0,-1):
    n=4
    st=""
    for j in range(2*i, 1, -1):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))
    n-=1

567898765
 5678765
  56765
   565
    5

In [5]:
n=int(input("Enter the number of rows: "))
for i in range(n):
    for j in range (0, n-1-i):
        print(" ", end="")
    for j in range (0, 2*i+1):
        print("*", end="")
    print("")
for i in range(n-1, 0, -1):
    for j in range (0, n-(i+1)+1):
        print(" ", end="")
    for j in range (0, (2*i)-1):
        print("*", end="")
    print("")

Enter the number of rows: 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [6]:
n=int(input("Enter the number of rows: "))
for i in range(n):
    for j in range (0, n-1-i):
        print(" ", end="")
    for j in range (0, 2*i+1):
        print(f"{i+1}", end="")
    print("")
for i in range(n-1, 0, -1):
    for j in range (0, n-(i+1)+1):
        print(" ", end="")
    for j in range (0, (2*i)-1):
        print(f"{i}", end="")
    print("")

Enter the number of rows: 5
    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

In [7]:
n=int(input("Enter the number of rows for the square: "))
for i in range(n):
    print("*"*n)

Enter the number of rows for the square: 5
*****
*****
*****
*****
*****

In [8]:
n=int(input("Enter the number of rows for the square: "))
for i in range(0, n):
    if i==0 or i==n-1:
        print("*"*n)
    else:
        print("*", end="")
        for j in range(0, n-2):
            print(" ", end="")
        print("*")

Enter the number of rows for the square: 5
*****
*   *
*   *
*   *
*****

<h1>TASK12</h1>

In [ ]:
import random

chance=5
choicetomake=random.randrange(1, 50, 1)
if choicetomake>=1 and choicetomake<=50:
    while chance!=0:
        guess=int(input("Guess: "))
        if guess>50 or guess<1:
            print("The range of numbers is 1 to 50 only.choose the no according to that ")
            continue
        if guess==choicetomake:
            print(f"Congrats. Correctly Guessed!!! The number chosen by computer was {guess}.")
            print("Game Over!!! User Wins!!!")
            break
        else:
            chance-=1
            if (chance==0):
                print(f"The Number chosen by computer was {choicetomake}")
                print(f"Incorrect Guess. {chance} guesses remain.")
                print("Game Over!!! Computer Wins!!!")
            else:
                print(f"Incorrect Guess. {chance} guesses remain.")
                if (guess>choicetomake):
                    print("(Hint: The chosen value by computer is lesser than the guessed value.)")
                else:
                    print("(Hint: The chosen value by computer is greater than the guessed value.)")
else:
    print("The number chosen by the system is not in the given range (1-50)")

Guess: 6
Incorrect Guess. 4 guesses remain.
(Hint: The chosen value by computer is greater than the guessed value.)

<h1>Task 13</h1>

In [5]:
s="sahil singh"
length=len(s)
count=0
for i in range(0,length,1):
    ch=s[i]
    if ch in('a','A','e','E','i','I','o','O','u','U'):
        count=count+1
print("The vowel in our string is:",count)

The vowel in our string is: 3

In [13]:
s="sahil  singh"
str=s.split(" ")
count=0
print(f"The no of word in a string is:{len(str)}")
for i in range(0,len(s),1):
    ch=s[i]
    if ch!=" ":
        count=count+1
print(f"The no of character in a string is:{count}")    
print(f"The no of space in a string is:{len(s)-count}")

The no of word in a string is:3
The no of character in a string is:10
The no of space in a string is:2

In [17]:
s = "hello,World!This is a sample string."
print(s)

for char in ('!', '.', ','):
    s = s.replace(char, '')

print("String after removing punctuation:")
print(s)

hello,World!This is a sample string.
String after removing punctuation:
helloWorldThis is a sample string

In [20]:
row=int(input("enter the no of row:"))
column=int(input("enter the no of column:"))
a = [[0] * column for _ in range(row)] 
for i in range(0,row,1):
    for j in range(0,column,1):
        a[i][j]=int(input("enter the no:"))
    print("\r")  
for i in range(0,row,1):
    for j in range(0,column,1):
        print(a[i][j],end=" ")
    print("\r")

enter the no of row:2
enter the no of column:2
enter the no:1
enter the no:2

enter the no:3
enter the no:4

1 2
3 4

In [31]:
row = int(input("Enter the number of rows for matrix 1: "))
column = int(input("Enter the number of columns for matrix 1: "))

a = [[0] * column for _ in range(row)]
for i in range(row):
    for j in range(column):
        a[i][j] = int(input("Enter the number: "))
    print("\r")

for i in range(row):
    for j in range(column):
        print(a[i][j], end=" ")
    print("\r")

row2 = int(input("Enter the number of rows for matrix 2: "))
column2 = int(input("Enter the number of columns for matrix 2: "))

b = [[0] * column2 for _ in range(row2)]
c = [[0] * column2 for _ in range(row)]

for i in range(row2):
    for j in range(column2):
        b[i][j] = int(input("Enter the number: "))
    print("\r")

for i in range(row2):
    for j in range(column2):
        print(b[i][j], end=" ")
    print("\r")

print("---------------")
print("Addition of two matrices")

for i in range(row):
    for j in range(column2):
        c[i][j] = a[i][j] + b[i][j]
    print("\r")

for i in range(row):
    for j in range(column2):
        print(c[i][j], end=" ")
    print("\r")

print("Transpose of matrix")

for i in range(column):
    for j in range(row):
        c[i][j] = a[j][i]
    print("\r")

for i in range(column):
    for j in range(row):
        print(c[i][j], end=" ")
    print("\r")

print("Multiplication of two matrices")

for i in range(row):
    for j in range(column2):
        c[i][j] = 0
        for k in range(column):
            c[i][j] += a[i][k] * b[k][j]
    print("\r")

for i in range(row):
    for j in range(column2):
        print(c[i][j], end=" ")
    print("\r")

Enter the number of rows for matrix 1: 2
Enter the number of columns for matrix 1: 2
Enter the number: 1
Enter the number: 2

Enter the number: 3
Enter the number: 4

1 2
3 4
Enter the number of rows for matrix 2: 2
Enter the number of columns for matrix 2: 2
Enter the number: 1
Enter the number: 2

Enter the number: 3
Enter the number: 4

1 2
3 4
---------------
Addition of two matrices


2 4
6 8
Transpose of matrix


1 3
2 4
Multiplication of two matrices


7 10
15 22

<h1>TASK14</h1>

enter a no:123
5

In [34]:
num=int(input("enter a no:"))
temp=num
sum=0
while temp>=10:
    while temp>0:
        rem=temp%10
        sum=sum+rem
        temp=temp//10
print("The sum of a number until the sum is reduced tp 1 digit",sum)

enter a no:123
The sum of a number until the sum is reduced tp 1 digit 6

In [40]:
num=int(input("enter a range upto we want to find the cube of a no:"))
i=1
while i<=num:
    if i%3==0:
        print(f"No is:{i}-{i**3}")
    
    i=i+1

enter a range upto we want to find the cube of a no:20
No is:3-27
No is:6-216
No is:9-729
No is:12-1728
No is:15-3375
No is:18-5832

In [45]:
num=int(input("enter a no:"))
temp=num
count=0
while temp>=0:
    if temp==0:
        count=count+1
        break

    rem=temp%10
    count=count+1
    temp=temp//10
print("The No of digit is:",count)

enter a no:0
The No of digit is: 1

In [48]:
num=int(input("enter a no:"))
temp=num
rev=0
while temp>0:
    rem=temp%10
    rev=rev*10+rem
    temp=temp//10
print("The Reverse  of digit is:",rev)
print("Double of a reverse digit is:",rev**2)

enter a no:123
The Reverse  of digit is: 321
Double of a reverse digit is: 103041

In [50]:
students = []
marks = []
j = 1
count = 0

for i in range(10):
    rollno = int(input("Enter a roll no: "))
    if rollno < 1000 or rollno > 9999:
        rollno = int(input("Roll number is not in the range we have mentioned. Please enter again: "))

    students.append(rollno)
    marks.append([0, 0, 0])
    totalmarks = 0

    while j <= 3:
        marks[i][j] = int(input(f"Enter marks of subject {j}: "))
        if marks[i][j] > 40:
            totalmarks += marks[i][j]
        count += 1
        j += 1

    print(f"Total marks of student {i+1} is {totalmarks}")

KeyboardInterrupt: Interrupted by user